<!DOCTYPE html>
<html lang="ko" data-theme="dark-poole">
  {% include head.html %}

  <body>
    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>

          <nav class="nav">
            {% for nav in site.nav %}
            <small><a href="{{ nav.url }}">{{ nav.title }}</a></small>
            {% endfor %}
          </nav>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy;
          <time datetime="{{ site.time | date_to_xmlschema }}"
            >{{ site.time | date: '%Y' }}</time
          >. All rights reserved.
        </small>
      </footer>
    </div>

    {% if site.ga_analytics %}
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://www.google-analytics.com/analytics.js",
        "ga"
      );
      ga("create", "{{ site.ga_analytics }}", "auto");
      ga("send", "pageview");
    </script>
    {% endif %}
  </body>
</html>
